<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block title %}{% endblock %} | Mi web Personal Sandra</title>
</head>
<body>
    <!-- Cabecera y menú-->
    <h1>Mi Web Personal Sandra</h1>

    <ul>
        <li><a href="{% url 'home' %}">Portada</a></li>
        <li><a href="{% url 'about' %}">Acerca de </a></li>
        <li><a href="{% url 'contact' %}">Contacto</a></li>
        <li><a href="{% url 'portfolio' %}">Portafolio </a></li>
    
    </ul>

    <!-- Contenido -->
    {% block content %}{% endblock %}
</body>
</html>